.Card {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    text-align: center;
    margin: 10px 25% 10px 25%;
    
  }

btn{
    
    background-color: aliceblue;
    font-size: medium;
    
}